.wrapper {
  padding: 100px 100px 30vh;
  height: 200vh;
}

.block {
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 5px;
}

.block {
  background: #348a55 ;
  background: linear-gradient(270deg, #333, #348a55);
  background: radial-gradient(#333, #348a55);
  background-image: url("../post-91315-1269172010.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: local;
  background-size: cover;
}